{% extends 'itreporting/base.html' %}

{% block content %}
<div class="container">
  <div class="row">

    <div class="col-md-3">
      <h2>iPhone 8</h2>
      <p>The iPhone 8, the better version of the iPhone 7, has the same specifications as an iPhone X but has a good hairline instead of a notch.</p>
      <ul>
        <li>A11 Bionic chip</li>
        <li>4.7-inch Retina HD display</li>
        <li>12MP rear camera, 7MP front camera</li>
      </ul>
      <h2> </h2>
      <a href="#" class="btn btn-primary">Buy Now</a>
      <h2>£700</h2>
    </div>

    <div class="col-md-3">
      <h2>MacBook Air</h2>
      <p>Apple's thinnest, lightest, and best looking laptop. The MacBook Air is designed for professionals, by (somewhat) professionals.</p>
      <ul>
        <li>Apple M2 Chip</li>
        <li>13-inch Screen</li>
        <li>Fingerprint Scanner</li>
      </ul>
      <h2> </h2>
      <a href="#" class="btn btn-primary">Buy Now</a>
      <h2>£1100</h2>
    </div>

    <div class="col-md-3">
      <h2>Logitech G915 Keyboard</h2>
      <p>A low-profile mechanical keyboard by Logitech. High quality metal frame, low-profile mechanical switches, RGB backlighting that can be synced with other Logitech
        devices in the G Hub app, and a lightning fast Wireless system means this keyboard is one of the best out there.
      </p>
      <ul>
        <li>Some Good Logitech Keyboard Chip</li>
        <li>Mechanical Switches (Clicky)</li>
        <li>Wireless</li>
      </ul>
      <h2> </h2>
      <a href="#" class="btn btn-primary">Buy Now</a>
      <h2>£220</h2>
    </div>

  </div>
</div>
{% endblock %}
