{% extends 'itreporting/base.html' %}

{% block content %}
<div class="container">
  <div class="row">

    <div class="col-md-3">
      <h2>iPhone 8</h2>
      <p>The powerful A11 Bionic chip delivers incredible performance for everything you do. The 4.7-inch Retina HD display is stunning and durable.</p>
      <ul>
        <li>A11 Bionic chip</li>
        <li>4.7-inch Retina HD display</li>
        <li>12MP rear camera, 7MP front camera</li>
      </ul>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>

    <div class="col-md-3">
      <h2>MacBook Air</h2>
      <p>Apple's thinnest, lightest, and best looking laptop. The MacBook Air </p>
      <ul>
        <li>Apple M2 Chip</li>
        <li>Big screen n that</li>
        <li>No camera</li>
      </ul>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>

    <div class="col-md-3">
      <h2>Logitech G915 Keyboard</h2>
      <p>The mac init.</p>
      <ul>
        <li>Apple M2 Chip</li>
        <li>Big screen n that</li>
        <li>No camera</li>
      </ul>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>

  </div>
</div>
{% endblock %}
