{% extends "itreporting/base.html" %}

{% block content %}

<h1>IT Issue Reported</h1>

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'itreporting:user-issues' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ issue.date_submitted }}</small>
        </div>
        <h2 class="article-title">{{ object.type }} Issue in Room {{object.room}}</h2>
        <p class="article-content">{{ issue.details }}</p>
    </div>
</article>

{% if object.author == user %}
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'itreporting:issue-update' object.id %}">Update</a>
<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'itreporting:issue-delete' object.id %}">Delete</a>
{% endif %}

{% endblock content %}