{% extends "itreporting/base.html" %}

{% block content %}

<body>

<h1>Issues Reported</h1>

{% for issue in issues %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ issue.author.profile.image.url }}"/>
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ issue.author.profile }}</a>
            <small class="text-muted">{{ issue.date_submitted }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ issue }}</a></h2>
        <p class="article-content">{{ issue.details }}</p>
    </div>
</article>
{% endblock content %}